@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;300;400;500;600&display=swap');

:root {
    --blue: #0739b6;
    --green: #83ba47;
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid #83ba47;
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--green);
}

* {
    font-family: 'Noto Sans Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s ease-out;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    z-index: 1000;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    text-decoration: none;
    color: var(--blue);
    font-weight: bolder;
}

.header .navbar a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--blue);
}

.header .navbar > ul {
    display: inline-block;
}

.header .navbar > ul > li {
    font-size: 1.8rem;
    margin: 0 1rem;
    display: inline-block;
    position: relative;
}

.header .navbar .submenu {
    width: 150%;
    list-style: none;
    display: none;
    position: absolute;
    left: 0;
    top: 105%;
    background: #eee;
    box-shadow: .1rem 0 1rem rgba(255, 255, 0, 0.5);
}

.header .navbar li:hover .submenu {
    display: block;
    padding-left: 1rem;
    background: var(--green);
    border-radius: .5rem;
}

.header .navbar li:hover .submenu > li a {
    display: block;
}

.header .navbar li:hover .submenu > li a:hover {
    color: #fff;
    padding-left: .5rem;
}

.header .navbar > ul > li > a:hover {
    border-bottom: .3rem solid var(--green);
    border-radius: .3rem;
} 

.header .icons .icon-header {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: var(--blue);
}

.header .icons .icon-header:hover {
    background: var(--green);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    right: -110%;
    top: 110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .3s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--blue);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2rem;
    padding-right: 1rem;
    color: var(--blue);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--green);
}


.login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    padding: 2rem;
}

.login-form.active {
    right: 2rem;
    transition: .3s linear;
}

.login-form .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--blue);
    text-transform: none;
    background: #eee;
}

.login-form h3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--blue);
}

.login-form p {
    font-size: 1.4rem;
    padding: .4rem 0;
    color: var(--light-color);
}

.login-form p a {
    color: var(--green);
    text-decoration: underline;
}

.header .icons .logout {
    font-size: 1.5rem;
}

.header .icons .fa-shopping-cart {
    position: relative;
}

.header .icons .icon-header .show-cart {
    position: absolute;
    top: -.5rem;
    right: -.2rem;
    color: red;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    font-size: 2rem;
    padding: 0 .3rem;
}

.slide {
    overflow: hidden;
    padding-top: 0;
    border-bottom: 2px solid rgb(185, 181, 181);

}
.carousel {
    height: 100%;
    margin-top: 5rem;
    padding-top: 2rem;
}

.carousel-indicators {
    display: none;
}

.carousel-inner{
    width: 100%;
    padding:0;
    margin: 0;
}

section {
    padding: 2rem 8%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.card__item {
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 2rem solid #fff;
    border-left: 2rem solid #fff;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    cursor: pointer;
}

.card__item:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.card__item .card-content {
    height: 200px;
    padding: 2rem;
    flex-direction: column;
    display: flex;
}

.card__item .card-image {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    padding-top: 2rem;
}

.card-content .card__top .card-name {
    font-size: 2rem;
}

.card-content .card__top .card-price {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.card__bottom {
    margin-top: auto;
    flex-shrink: 0;
    display: flex;

}

.input_quantity {
    width: 50%;
    text-align: center;
    margin-top: -2.5rem;
    margin-left: auto;
}

#quantity {
    width: 50%;
    background-color:rgb(131, 155, 153);
    text-indent: 50%;
    border-radius: 0 0 0 1rem;
    height: 3rem;
    font-size: 1.5rem;
} 

.btn {
    display: inline-block;
    font-size: 1.7rem;
    border-radius: 0 0 1rem 0;
    border: .2rem solid var(--green);
    color: var(--black);
    cursor: pointer;
    background: none;
    height: 3rem;
    width: 75%;
    line-height: 2rem;
}

.btn:hover {
    background: var(--green);
    color: #fff;
}
 
.footer {
    background: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box .footer-app img {
    padding: .5rem 0;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--blue);
    padding-top: .5rem;
}

.footer .box-container .box .share > a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--blue);
    background: rgb(216, 213, 213);
    text-align: center;
}

.footer .box-container .box .share > a:hover {
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .links-web {
    font-size: 1.5rem;
    display: block;
    padding: .5rem 0;
}

.footer .box-container .box .fa-shopping-cart {
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    background: rgb(216, 213, 213);
    color: var(--blue);
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
}

.footer .box-container .box .fa-shopping-cart:hover {
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--blue);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: #1a3080;
}

.credit span {
    color: var(--orange);
}

/* admin-layout */

ul.droplow.show, ul.droplow1.show1, ul.droplow2.show2, ul.droplow3.show3, ul.droplow4.show4, ul.droplow5.show5,ul.droplow6.show6 {
    display: block;
    padding-left: 10%;
    list-style: none;
}

.header-admin {
    background-color: #161623;
}

.sidebar ul ul {
    display: none;
}
.sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    width: 20%;
    margin-top: auto;
    position: relative;
    min-height: 100vh;
    padding-left: 15px;
}

.sub > li > a {
    color: white;
}

.sidebar > ul {
    text-decoration: none;
    color: white;
    list-style: none;
    padding-left: 20px;

}
.sidebar > ul > a{
    display: none;
    text-decoration: none;
    height: 100%;
    line-height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    transition: 0.3s;
}
.sidebar > ul > li a:hover{
    padding-left: 10px;
    color:white;
    border-top: 1px solid rgb(221, 237, 250);
    background:red;
    text-decoration: none;
    line-height: 40px;
}

.content_menu{
    width: 80%;
}

.loginbox{
    position:absolute;
}

.loginbox h1{
    font-size:40px;
    border-bottom:3px solid #66ff66;
    padding:10px 0;
    margin-bottom:50px;
}


/* reponsive */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
    
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }
    
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 90%;
        height: 100%;
        background: #fff;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
    }

    .header .search-form {
        width: 90%;
    }

    .header .search-form.active {
        right: 5%;
        transition: .3s linear;
    }

    .header .navbar.active {
        right: 5%;
        transition: .3s linear;
        height: auto;
    }

    .header .navbar ul li a {
        font-size: 2rem;
        display: inline-block;
        z-index: 1000;
    }

    .header .navbar > ul > li {
        font-size: 1.8rem;
        margin: 0 1rem;
        /* display: inline-block; */
        display: block;
        position: relative;
    }
    
    .header .navbar .submenu {
        width: 150%;
        list-style: none;
        display: none;
        position: absolute;
        left: 0;
        top: 105%;
        background: #eee;
        box-shadow: .1rem 0 1rem rgba(255, 255, 0, 0.5);
    }
    
    .header .navbar li:hover .submenu {
        display: block;
        padding-left: 1rem;
        background: var(--green);
        border-radius: .5rem;
        margin-bottom: 5rem;
        z-index: 1000;
    }
    
    .header .navbar li:hover .submenu > li a {
        display: block;
    }
    
    .header .navbar li:hover .submenu > li a:hover {
        color: #fff;
        padding-left: .5rem;
    }
    
    .header .navbar > ul > li > a:hover {
        border-bottom: .3rem solid var(--green);
        border-radius: .3rem;
    } 
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .header .logo span {
        display: none;
    }

    .header .logo img {
        width: 10rem;
    }

    .footer {
        text-align: center;
    }
    

}






/* @media (min-width: 740px) and (max-width:1023px) {

    body{
        font-size: 20px;
        background-color: #161623;
        color: white;
        font-family:montserrat;
    }
    
    .carousel {
        height: 400px;
        margin-top: 120px;
        padding-top: 15px;
    }   

    #menu .search-btn {
        float: right;    
        padding-right: 10%;
        margin-top: 80px;
        cursor: pointer;
        width: 30%;
    }

    #menu > ul > li {
        display: inline-block;
        position: relative;
        top: 80px;
        left: 20px;
        padding: 0 5px;
        line-height: 40px;
        margin-left: auto;
    }    

    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;
        margin-top: 5px;
        margin-left: -10px;
    }
    
    .card__item {
        box-shadow: 20px 20px 50px rgba(0, 0,0, 0.5);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-bottom: 15px;
        width: calc(33% - 15px);
    }
    .card-content {
        height: 150px;
        padding: 10px;
        flex-direction: column;
        display: flex;
    }
    .card-image {
        flex-shrink: 0;
        width: 130px;
        height: 130px;
    }
    
    .card-name, .card-title {
        margin-top: auto;
        font-size: 13px;
    
    }
    .card__bottom {
        margin-top: auto;
        flex-shrink: 0;
        background-color: #fff;
    
    }
 
    .add-cart-ajax {
        width: 100%;
        border-radius: 0 0 10px 0;
        height: 32px;
        background-color: rgb(52, 214, 52);
        color: rgba(255, 255, 255, 1);
    }
}

@media (max-width: 740px) {
    .brand {
        font-size: 15px;
        margin-left: -15px;
    }

    .show-cart{
        font-size: 20px;
        padding: 0 3px;
        position: absolute;
        top: 5px;
        left: 11px;
    }
    .logo-brand > a > img {
        width: 100px;
    }

    .nav {
        display: none;
    }

    .nav-icon {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;

    }
    .nav-icon ul li {
        display: inline-block;
        list-style: none;
        position: relative;
    }

    .nav-icon li a {
        text-decoration: none;
        color: white;
        line-height: 50px;
        padding: 0 10px;
        margin-top: 5px;
        display: inline-block;
        font-size: 22px;
    } 
    
    #menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 1);
        overflow: hidden;
        height: 120px;
        display: block;
    }

    #menu .active {
        border-bottom: 2px solid red;
        width: 150px;
    }

    #menu .menu-icon {
        display: block;
        float: right;    
        padding-right: 10px;
        line-height: 40px;
        position: absolute;
        top: 0;
        right: 0;
    }

    #menu > ul {
        display: block;
    }   
    #menu ul .submenu {
        width: 180px;
        color: rgb(221, 237, 250);
        min-height: 250px;
        position: absolute;
        top: 42px;
        background-color: black;
        z-index: 10;
    }

    #menu .submenu > li > a {
        width: 180px;
        text-decoration: none;
        display: block;
        line-height: 30px;
        text-indent: 10px;
        color: white;
        padding-left: 10%;
    }

    #menu li a {
        text-decoration: none;
        color: white;
        padding: 0 10px;
        margin: 0px 10px 0px 0px;
        display: inline-block;
        font-size: 14px;
        line-height: 40px;  
    }

    #menu > ul > li {
        display: block;
        position: relative;
        top: 70px;
        left: 0;
        padding: 0 5px;
        line-height: 30px;
        width: 100%;
    }

    #menu .search-btn {
        width: 90%;
        margin-bottom: 35px;
    }

    .carousel {
        height: 200px;
        margin-top: 120px;
        padding-top: 15px;
    }
    
    .carousel-indicators {
        z-index: 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
        margin-top: 5px;
        margin-left: -10px;
    }
    
    .card__item {
        box-shadow: 20px 20px 50px rgba(0, 0,0, 0.5);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-bottom: 15px;
        width: calc(50% - 15px);
    }
    .card-content {
        height: 130px;
        padding: 5px;
        flex-direction: column;
        display: flex;
    }
    .card-image {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
    }
    
    .card-name, .card-title {
        margin-top: auto;
        font-size: 11px;
    
    }
    .card__bottom {
        margin-top: auto;
        flex-shrink: 0;
        display: flex;
    }

    #quantity {
        font-size: 12px;
        min-height: 20px;
        width: 60%;
        border-radius: 0 0 0 10px;
    }  
    .add-cart-ajax {
        width: 75%;
        border-radius: 0 0 10px 0;
        height: 32px;
        font-size: 12px;
        background-color: rgb(52, 214, 52);
    }  

    .footer {
        background-color: #161623;
        color: white;
        border-top: 1px solid white;
        position: relative;
        overflow: hidden;
        font-size: 13px;
    }
     
    .link {
        position: absolute;
        left: 100px;

    }

    .logo img {
       position: absolute;
       right: 0;
       left: 190px;
       bottom: 20px;
    }
} */